<div class="row justify-content-center align-items-center loginForm">
    <form class="col-md-12 box" [formGroup]="form" (ngSubmit)="submit()">
      <fieldset>
        <legend>Login</legend>
  
        <div class="form-group row">
          <mat-form-field>
            <mat-label>Username:</mat-label>
            <input matInput id="username" formControlName="username">
          </mat-form-field>
        </div>
  
        <div class="form-group row">
          <mat-form-field>
            <mat-label>Password:</mat-label>
            <input matInput type="password" id="password" formControlName="password">
          </mat-form-field>
        </div>
  
        <div class="row">
          <button mat-raised-button type="submit" id="login-btn" [disabled]="form.invalid">Submit</button>
        </div>
  
  
      </fieldset>
    </form>
  </div>
  